.infoIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 0;
}
.receiveAnyCrypto,
.showThisQr {
  margin: 0;
}
.showThisQrContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.cryptoWillBe,
.soYouWill {
  margin: 0;
}
.cryptoWillBeContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-medium-medium-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-small-bold);
  color: var(--text-default-secondary);
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.starIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button1,
.starIcon,
.xIcon {
  position: relative;
}
.button1 {
  align-self: stretch;
  flex: 1;
  line-height: 100%;
}
.xIcon {
  height: 16px;
  width: 16px;
  flex-shrink: 0;
  min-height: 16px;
}
.button,
.starIcon1,
.xIcon {
  overflow: hidden;
  display: none;
}
.button {
  height: 40px;
  width: 75px;
  border-radius: var(--radius-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--space-200);
}
.starIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
}
.button3 {
  position: relative;
  line-height: 24px;
}
.xIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button2 {
  border-radius: var(--radius-200);
  background-color: var(--brand-500);
  border: 1px solid var(--brand-600);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-59xl);
  gap: var(--space-200);
  color: var(--background-brand-tertiary);
  font-family: var(--paragraph-small-bold);
}
.body,
.buttonGroup {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-400);
}
.buttonGroup {
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: var(--paragraph-medium-medium-size);
  color: var(--text-neutral-default);
  font-family: var(--single-line-body-base);
}
.body {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 160px;
}
.card,
.qrIcon {
  position: absolute;
}
.qrIcon {
  height: 240px;
  width: 240px;
  margin: 0 !important;
  top: -72px;
  left: calc(50% - 119.5px);
  border-radius: 13.71px;
  object-fit: cover;
}
.card {
  top: calc(50% - 164px);
  left: calc(50% - 180.5px);
  border-radius: var(--spacing-md);
  background-color: var(--base-white);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 361px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) var(--space-600);
  gap: var(--space-600);
  min-width: 240px;
  z-index: 3;
  text-align: center;
  font-size: var(--heading-mobile-h4-semi-bold-size);
  color: var(--text-default-default);
  font-family: var(--heading-mobile-h6-semi-bold);
}
