.welcomeTo {
  margin-block-start: 0;
  margin-block-end: 60px;
}
.piggyWallet {
  margin: 0;
}
.welcomeToPiggyWalletContainer {
  margin: 0;
  align-self: stretch;
  height: 112px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.empoweringKidsIn {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-medium-medium-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-small-bold);
}
.welcomeToPiggyWalletParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.starIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1,
.starIcon,
.xIcon {
  position: relative;
}
.button1 {
  font-size: var(--paragraph-medium-medium-size);
  line-height: 24px;
  display: inline-block;
  font-family: var(--paragraph-small-bold);
  color: var(--background-brand-tertiary);
  text-align: left;
  min-width: 59px;
  white-space: nowrap;
}
.xIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brand-600);
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--brand-500);
  align-self: stretch;
  border-radius: var(--radius-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-200);
}
.starIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.alreadyHaveAn {
  font-weight: 500;
}
.b,
.logIn {
  color: var(--brand-500);
}
.button3 {
  position: relative;
  line-height: 24px;
}
.xIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button2 {
  align-self: stretch;
  border-radius: var(--radius-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--space-300) var(--padding-37xl);
  gap: var(--space-200);
}
.button2,
.buttonGroup,
.content,
.welcomeContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonGroup {
  align-self: stretch;
  flex-direction: column;
  gap: var(--space-400);
  text-align: left;
  font-size: var(--paragraph-medium-medium-size);
  color: var(--neutral-800);
  font-family: var(--paragraph-small-bold);
}
.content,
.welcomeContainer {
  max-width: 100%;
}
.welcomeContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl-2);
}
.content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--display-desktop-large-semi-bold-size);
  color: var(--black-500);
  font-family: var(--heading-mobile-h6-semi-bold);
}
