.todaysTasks {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 121px;
}
.edit02Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton,
.tasksHeader {
  flex-direction: row;
  align-items: center;
}
.iconButton {
  height: 36px;
  width: 36px;
  border-radius: var(--scale-06);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.tasksHeader {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.youHave2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.starIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1,
.starIcon,
.xIcon {
  position: relative;
}
.button1 {
  font-size: var(--paragraph-medium-medium-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-small-bold);
  color: var(--neutral-900);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.xIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button,
.pendingMessage {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brand-500);
  padding: var(--padding-7xs) var(--padding-xl);
  background-color: var(--base-white);
  border-radius: var(--radius-200);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-200);
}
.pendingMessage {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.inputs,
.taskList,
.tasksHeaderParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputs {
  border-radius: var(--spacing-md);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--neutral-200);
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
  color: var(--neutral-700);
}
.taskList,
.tasksHeaderParent {
  justify-content: flex-start;
  gap: var(--spacing-x-sm);
  font-size: var(--paragraph-medium-medium-size);
  color: var(--neutral-900);
}
.tasksHeaderParent {
  gap: var(--spacing-sm);
  text-align: left;
  font-size: var(--heading-mobile-h6-semi-bold-size);
  color: var(--black-500);
  font-family: var(--paragraph-small-bold);
}
