.letsSetUp {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 36px;
  font-weight: 600;
}
.howManyChildren {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-medium-medium-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-small-bold);
}
.letsSetUpYourPiggyWalletParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.description,
.label {
  width: 240px;
  position: relative;
  display: none;
}
.label {
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-small-bold);
}
.description {
  line-height: 140%;
  color: var(--text-default-secondary);
}
.input,
.value {
  flex: 1;
  max-width: 100%;
}
.value {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--paragraph-small-bold);
  font-size: var(--paragraph-medium-medium-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 197px;
  padding: 0;
}
.input {
  height: 49px;
  border-radius: var(--radius-200);
  background-color: var(--base-white);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-300) var(--padding-mini) var(--space-300)
    var(--space-400);
  min-width: 240px;
}
.error {
  width: 37px;
  position: relative;
  line-height: 140%;
  display: none;
}
.inputField {
  align-self: stretch;
  height: 48px;
  flex-direction: row;
  gap: var(--space-200);
  font-size: var(--paragraph-medium-medium-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.inputContainer,
.inputContainerWrapper,
.inputField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.inputContainerWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-mobile-h3-semi-bold-size);
  color: var(--black-500);
  font-family: var(--heading-mobile-h6-semi-bold);
}
