.notchIcon {
  width: 172px;
  height: 32px;
  position: relative;
  display: none;
}
.timeStatusContainer {
  align-self: stretch;
  gap: var(--gap-xl);
}
.icon {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 14px;
  color: inherit;
  white-space: nowrap;
}
.iconFontawesome {
  flex: 1;
  flex-direction: row;
}
.backNavigation,
.header,
.iconFontawesome {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.backNavigation {
  width: 18px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.header {
  align-self: stretch;
  background-color: var(--brand-600);
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-5xl) var(--padding-9xl)
    var(--padding-9xl);
  gap: var(--gap-15xl);
  text-align: center;
  font-size: var(--text-xs-light-size);
  color: var(--base-white);
  font-family: var(--font-abeezee);
}
