.savingsOverview {
  position: relative;
  line-height: 28px;
}
.overviewSubtitle {
  align-self: stretch;
  position: relative;
  font-size: var(--display-desktop-small-semibold-size);
  letter-spacing: -0.02em;
  line-height: 48px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  white-space: nowrap;
}
.savingsInfo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.inputsChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--neutral-200);
}
.avatar {
  margin: 0;
  height: 22.4px;
  width: 22.4px;
  position: relative;
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.mattsSavings {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.savingsDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xx-sm);
}
.listDivider {
  position: relative;
  font-size: var(--heading-mobile-h5-semi-bold-size);
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  display: inline-block;
  min-width: 76px;
  white-space: nowrap;
}
.savingsItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.avatar1 {
  margin: 0;
  height: 22.4px;
  width: 22.4px;
  position: relative;
  box-shadow: 0 0.7px 2.8px rgba(12, 12, 13, 0.1),
    0 0.7px 2.8px rgba(12, 12, 13, 0.05);
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.lucysSavings {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 96px;
}
.avatarParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xx-sm);
}
.div {
  position: relative;
  font-size: var(--heading-mobile-h5-semi-bold-size);
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.inputs,
.savingsItem1,
.savingsList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.inputs,
.savingsList {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--paragraph-small-bold-size);
}
.inputs {
  border-radius: var(--spacing-md);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--neutral-200);
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-xs);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--paragraph-large-bold-size);
  color: var(--neutral-700);
  font-family: var(--paragraph-medium-bold);
}
