.avatarIcon {
  height: 22.4px;
  width: 22.4px;
  position: relative;
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.taskFinished {
  width: 103px;
  height: 24px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.icon {
  height: 16px;
  width: 16px;
  position: relative;
}
.walkTheDog {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.taskIcon,
.transactionStatus {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-xx-sm);
}
.taskIcon {
  align-self: stretch;
  height: 20px;
  flex-direction: row;
  align-items: center;
  font-size: var(--paragraph-small-bold-size);
}
.transactionStatus {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-132xl) 0 0;
  box-sizing: border-box;
  min-width: 169px;
}
.historySpacer {
  height: 24px;
  width: 31px;
  position: relative;
  font-size: var(--paragraph-large-bold-size);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  display: flex;
  align-items: center;
}
.avatarParent,
.inputs {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.avatarParent {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xs);
}
.inputs {
  border-radius: var(--spacing-md);
  background-color: var(--success-50);
  border: 1px solid var(--success-600);
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-mini);
  text-align: left;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--neutral-900);
  font-family: var(--paragraph-medium-bold);
}
