.background,
.key {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background {
  margin: 0 !important;
  backdrop-filter: blur(150px);
  background: linear-gradient(#939393, #939393),
    linear-gradient(rgba(86, 88, 92, 0.87), rgba(86, 88, 92, 0.87)),
    rgba(85, 85, 85, 0.9);
}
.key {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def,
.spacer {
  position: relative;
  flex-shrink: 0;
}
.spacer {
  display: inline-block;
  min-width: 13px;
}
.def {
  align-self: stretch;
  flex: 1;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyBackground,
.keyBorder {
  display: flex;
  box-sizing: border-box;
}
.keyBorder {
  align-self: stretch;
  height: 12px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-4xs);
  flex-shrink: 0;
  font-size: var(--font-size-3xs);
}
.keyBackground {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  width: 20px;
  height: 40px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-3xs) var(--padding-11xs);
  z-index: 1;
}
.button {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.key1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def1,
.spacerTwo {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.spacerTwo {
  width: 15px;
  min-width: 15px;
}
.def1 {
  margin-left: -5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 26px;
}
.keyBackgroundTwo {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  width: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button1 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.key2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def2,
.spacerThree {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.spacerThree {
  width: 15px;
  min-width: 15px;
}
.def2 {
  margin-left: -4px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 24px;
}
.keyBackgroundThree {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button2 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.keyRowOne {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.key3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def3,
.div {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div {
  width: 16px;
  min-width: 16px;
}
.def3 {
  margin-left: -2px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 23px;
}
.frame {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button3 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.key4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def4,
.div1 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div1 {
  width: 15px;
  min-width: 15px;
}
.def4 {
  margin-left: -4px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 24px;
}
.frame1 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button4 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.key5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def5,
.div2 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div2 {
  width: 16px;
  min-width: 16px;
}
.def5 {
  margin-left: -5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 29px;
}
.frame2 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  width: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button5 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.keyRowOne1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.key6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def6,
.div3 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div3 {
  width: 14px;
  min-width: 14px;
}
.def6 {
  margin-left: -9px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 35px;
}
.frame3 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  width: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button6 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.key7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def7,
.div4 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div4 {
  width: 16px;
  min-width: 16px;
}
.def7 {
  margin-left: -4px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 26px;
}
.frame4 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button7 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.key8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.def8,
.div5 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div5 {
  width: 16px;
  min-width: 16px;
}
.def8 {
  margin-left: -10px;
  font-size: var(--font-size-3xs);
  letter-spacing: 2px;
  min-width: 38px;
}
.frame5 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 9.5px);
  width: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.button8 {
  height: 46px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.keyRowOne2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.empty {
  height: 46px;
  flex: 1;
  position: relative;
  background-color: var(--color-crimson-100);
  min-width: 92px;
}
.div6,
.key9 {
  position: absolute;
}
.key9 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--br-8xs-6);
  background-color: var(--base-white);
}
.div6 {
  top: calc(50% - 16px);
  left: calc(50% - 8.5px);
  display: inline-block;
  min-width: 16px;
  z-index: 1;
}
.button9,
.buttonIcon {
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  min-width: 92px;
}
.button9 {
  height: 46px;
}
.buttonIcon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-height: 46px;
}
.keyGrid,
.keyGridWrapper,
.keyRowOne3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.keyRowOne3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
}
.keyGrid,
.keyGridWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.keyGrid {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
  gap: var(--gap-6xs);
  z-index: 1;
}
.keyGridWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.homeIndicator1 {
  height: 5px;
  width: 139px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--black-500);
  transform: rotate(180deg);
}
.homeIndicator,
.keyboardIphone {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  z-index: 1;
}
.keyboardIphone {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-39xl);
  max-width: 100%;
}
.starIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button11 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 69px;
}
.xIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button10,
.buttonWrapper,
.keyboardArea {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button10 {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--brand-500);
  border: 1px solid var(--brand-600);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--space-200);
}
.buttonWrapper,
.keyboardArea {
  align-self: stretch;
  justify-content: flex-start;
}
.buttonWrapper {
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  margin-top: -64px;
  text-align: left;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--text-brand-on-brand);
  font-family: var(--paragraph-medium-bold);
}
.keyboardArea {
  flex-direction: column;
  min-height: 291px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--black-500);
  font-family: var(--font-abeezee);
}
