.title {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.navigationPill,
.title,
.title1 {
  display: flex;
  align-items: center;
}
.navigationPill {
  height: 32px;
  border-radius: var(--radius-200);
  background-color: var(--text-brand-on-brand);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.title1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.navigationPill1 {
  height: 32px;
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.navigationPill1,
.navigationPill2,
.title2 {
  display: flex;
  align-items: center;
}
.title2 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.navigationPill2 {
  height: 32px;
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.title3 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.navigationPill3,
.title3,
.title4 {
  display: flex;
  align-items: center;
}
.navigationPill3 {
  height: 32px;
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.title4 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.navigationPill4 {
  height: 32px;
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.navigationPill4,
.navigationPill5,
.title5 {
  display: flex;
  align-items: center;
}
.title5 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.navigationPill5 {
  height: 32px;
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.navigationPillList {
  width: 262px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-200);
}
.menuIcon,
.notchIcon {
  position: relative;
  display: none;
}
.menuIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.notchIcon {
  width: 172px;
  height: 32px;
}
.statusBarLeft {
  align-self: stretch;
  max-width: 100%;
}
.chevronLeftIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButtonsubtledefaultmd {
  height: var(--scale-07);
  width: var(--scale-07);
  border-radius: var(--scale-06);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-md) var(--padding-5xs);
  box-sizing: border-box;
}
.savingsGoals {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.backButton,
.savingsGoalsWrapper,
.titleBack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.savingsGoalsWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.backButton,
.titleBack {
  flex-direction: row;
}
.backButton {
  flex: 1;
  gap: var(--gap-5xs);
}
.titleBack {
  align-self: stretch;
  padding: 0 0 0 var(--padding-5xl);
}
.label {
  text-decoration: none;
  position: relative;
  font-size: var(--paragraph-medium-bold-size);
  line-height: 24px;
  font-weight: 700;
  font-family: var(--paragraph-medium-bold);
  color: var(--brand-500);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.tab {
  cursor: pointer;
  border: 0;
  padding: var(--space-100) var(--padding-20xl) var(--padding-11xs);
  background-color: transparent;
  border-radius: var(--radius-100) var(--radius-100) 0 0;
  border-bottom: 1px solid var(--brand-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.tab1 {
  border-radius: var(--radius-100) var(--radius-100) 0 0;
  border-bottom: 1px solid var(--border-neutral-tertiary);
  flex-direction: row;
  padding: var(--space-100) var(--padding-29xl) var(--padding-11xs);
}
.addGoalTab,
.pageTitleContainer,
.tab1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.addGoalTab {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  text-align: left;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--text-neutral-tertiary);
  font-family: var(--paragraph-medium-bold);
}
.pageTitleContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 100%;
}
.plusIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButtonsubtledefaultmd1 {
  height: var(--scale-07);
  width: var(--scale-07);
  border-radius: var(--scale-06);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-md) var(--padding-5xs);
  box-sizing: border-box;
}
.addGoalIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl);
}
.label2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.addGoalButton,
.tab2 {
  display: flex;
  justify-content: flex-start;
}
.tab2 {
  border-radius: var(--radius-100) var(--radius-100) 0 0;
  border-bottom: 1px solid var(--border-neutral-tertiary);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--space-100) var(--padding-28xl) var(--padding-11xs);
}
.addGoalButton {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xs);
  margin-left: -59px;
  text-align: left;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--text-neutral-tertiary);
  font-family: var(--paragraph-medium-bold);
}
.header,
.pageHeader,
.pageTitle {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.pageTitle {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  font-size: var(--paragraph-large-bold-size);
  color: var(--black-500);
  font-family: var(--heading-mobile-h4-semi-bold);
}
.header,
.pageHeader {
  box-sizing: border-box;
  flex-shrink: 0;
}
.header {
  flex: 1;
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--neutral-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-sm) 0 0;
  gap: var(--gap-sm);
}
.pageHeader {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-base);
  text-align: left;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
