.previousTasks {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 127px;
}
.edit02Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton,
.previousTasksParent {
  flex-direction: row;
  align-items: center;
}
.iconButton {
  height: 36px;
  width: 36px;
  border-radius: var(--scale-06);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.previousTasksParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-mobile-h6-semi-bold-size);
  color: var(--black-500);
}
.saturday12July {
  position: relative;
  line-height: 24px;
}
.edit02Icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton1,
.saturday12JulyParent {
  flex-direction: row;
  align-items: center;
}
.iconButton1 {
  height: 36px;
  width: 36px;
  border-radius: var(--scale-06);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.saturday12JulyParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--black-500);
}
.icon {
  width: 32px;
  height: 32px;
  position: relative;
}
.inputs {
  border-radius: var(--spacing-md) 0 var(--spacing-md) var(--br-base);
  background-color: var(--error-300);
  border-top: 1px solid var(--error-600);
  border-bottom: 1px solid var(--error-600);
  border-left: 1px solid var(--error-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-10xl);
}
.doYourHomework,
.missed25 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.missed25 {
  font-size: var(--heading-mobile-h6-semi-bold-size);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--heading-mobile-h6-semi-bold);
  color: var(--black-500);
  display: inline-block;
  min-width: 88px;
}
.previousTask {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.xIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox,
.previousName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox {
  border-radius: var(--br-5xs);
  background-color: var(--error-500);
  overflow: hidden;
  justify-content: center;
}
.previousName {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.inputs1 {
  width: 271px;
  border-radius: 0 var(--spacing-md) var(--br-base) var(--spacing-md);
  background-color: var(--error-50);
  border: 1px solid var(--error-600);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.previousInput,
.saturdayItems {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.previousInput {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-0);
  row-gap: 20px;
}
.saturdayItems {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.friday11July {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 107px;
}
.edit02Icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.friday11JulyParent,
.iconButton2 {
  flex-direction: row;
  align-items: center;
}
.iconButton2 {
  height: 36px;
  width: 36px;
  border-radius: var(--scale-06);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
}
.friday11JulyParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--black-500);
}
.icon1 {
  width: 32px;
  height: 32px;
  position: relative;
}
.inputs2 {
  border-radius: var(--spacing-md) 0 var(--spacing-md) var(--br-base);
  background-color: var(--success-300);
  border-top: 1px solid var(--success-600);
  border-bottom: 1px solid var(--success-600);
  border-left: 1px solid var(--success-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-10xl);
}
.earned2,
.tidyYourBed {
  width: 105px;
  height: 24px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.earned2 {
  width: 79px;
  font-size: var(--heading-mobile-h6-semi-bold-size);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--heading-mobile-h6-semi-bold);
  color: var(--black-500);
}
.tidyYourBedParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.checkIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox1,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox1 {
  border-radius: var(--br-5xs);
  background-color: var(--success-500);
  overflow: hidden;
  justify-content: center;
}
.frameParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.inputs3,
.inputsParent {
  display: flex;
  align-items: flex-start;
}
.inputs3 {
  width: 271px;
  border-radius: 0 var(--spacing-md) var(--br-base) var(--spacing-md);
  background-color: var(--success-50);
  border: 1px solid var(--success-600);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.inputsParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-0);
  row-gap: 20px;
}
.icon2 {
  width: 32px;
  height: 32px;
  position: relative;
}
.inputs4,
.missed2,
.walkTheDog {
  display: flex;
  align-items: center;
}
.inputs4 {
  border-radius: var(--spacing-md) 0 var(--spacing-md) var(--br-base);
  background-color: var(--error-300);
  border-top: 1px solid var(--error-600);
  border-bottom: 1px solid var(--error-600);
  border-left: 1px solid var(--error-600);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-10xl);
}
.missed2,
.walkTheDog {
  width: 101px;
  height: 24px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.missed2 {
  width: 76px;
  font-size: var(--heading-mobile-h6-semi-bold-size);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--heading-mobile-h6-semi-bold);
  color: var(--black-500);
}
.walkTheDogParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.xIcon1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox2,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox2 {
  border-radius: var(--br-5xs);
  background-color: var(--error-500);
  overflow: hidden;
  justify-content: center;
}
.frameGroup {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.inputs5 {
  width: 271px;
  border-radius: 0 var(--spacing-md) var(--br-base) var(--spacing-md);
  background-color: var(--error-50);
  border: 1px solid var(--error-600);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.inputsGroup,
.saturdayItems1,
.saturdayList {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.inputsGroup {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-0);
  row-gap: 20px;
}
.saturdayItems1,
.saturdayList {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.saturdayList {
  gap: var(--spacing-sm);
  text-align: left;
  font-size: var(--paragraph-medium-medium-size);
  color: var(--neutral-900);
  font-family: var(--paragraph-small-bold);
}
