.icon {
  width: 48px;
  height: 48px;
  position: relative;
}
.inputs {
  border-radius: var(--spacing-md) 0 var(--spacing-md) var(--br-base);
  background-color: var(--brand-50);
  border-top: 1px solid var(--neutral-200);
  border-bottom: 1px solid var(--neutral-200);
  border-left: 1px solid var(--neutral-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-2xl);
}
.lucysGeneralSavings {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.avatarIcon {
  height: 22.4px;
  width: 22.4px;
  position: relative;
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div,
.nameAvatar {
  align-self: stretch;
}
.nameAvatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.div {
  position: relative;
  font-size: var(--heading-mobile-h4-semi-bold-size);
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  white-space: nowrap;
}
.autosave50 {
  position: relative;
  font-size: var(--paragraph-small-bold-size);
  line-height: 20px;
  color: var(--neutral-800);
  display: inline-block;
  min-width: 88px;
}
.savingsNameAvatar {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.inputs1,
.savingsInput,
.savingsNameAvatar {
  display: flex;
  align-items: flex-start;
}
.inputs1 {
  width: 271px;
  border-radius: 0 var(--spacing-md) var(--br-base) var(--spacing-md);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--neutral-200);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.savingsInput {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  flex-shrink: 0;
  gap: var(--gap-0);
  row-gap: 20px;
  margin-top: -97px;
  text-align: left;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--neutral-900);
  font-family: var(--paragraph-medium-bold);
}
