.savingsOverview1,
.savingsValue {
  position: relative;
  line-height: 28px;
}
.savingsValue {
  align-self: stretch;
  font-size: var(--display-desktop-small-semibold-size);
  letter-spacing: -0.02em;
  line-height: 48px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  white-space: nowrap;
}
.savingsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.overviewDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--neutral-200);
}
.avatarIcon {
  height: 22.4px;
  width: 22.4px;
  position: relative;
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 22px;
}
.mattsSavings {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.avatarParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xx-sm);
}
.profileSeparator {
  position: relative;
  font-size: var(--heading-mobile-h5-semi-bold-size);
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  display: inline-block;
  min-width: 76px;
  white-space: nowrap;
}
.profilePair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.avatar {
  margin: 0;
  height: 22.4px;
  width: 22.4px;
  position: relative;
  box-shadow: 0 0.7px 2.8px rgba(12, 12, 13, 0.1),
    0 0.7px 2.8px rgba(12, 12, 13, 0.05);
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.lucysSavings {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 96px;
}
.avatarGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xx-sm);
}
.div {
  position: relative;
  font-size: var(--heading-mobile-h5-semi-bold-size);
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  color: var(--black-500);
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.profilePair1,
.savingsProfiles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.savingsProfiles {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--paragraph-small-bold-size);
}
.starIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1,
.starIcon,
.xIcon {
  position: relative;
}
.button1 {
  font-size: var(--paragraph-medium-bold-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-medium-bold);
  color: var(--neutral-900);
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.xIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brand-500);
  padding: var(--padding-7xs) var(--padding-19xl) var(--padding-7xs)
    var(--padding-21xl);
  background-color: var(--base-white);
  border-radius: var(--radius-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.starIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button3 {
  position: relative;
  font-size: var(--paragraph-medium-bold-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-medium-bold);
  color: var(--neutral-900);
  text-align: left;
  display: inline-block;
  min-width: 121px;
}
.xIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button2,
.savingsActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--brand-500);
  padding: var(--padding-7xs) var(--padding-lg) var(--padding-7xs)
    var(--padding-lgi);
  background-color: var(--base-white);
  border-radius: var(--radius-200);
  overflow: hidden;
  gap: var(--space-200);
}
.savingsActions {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-5xs);
}
.infoIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.enterAmountTo {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
  font-family: var(--heading-mobile-h4-semi-bold);
  text-align: center;
}
.sendTo {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.avatarIcon1 {
  height: 22.4px;
  width: 22.4px;
  position: relative;
  border-radius: var(--br-7xs-6);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mattsSavings1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 108px;
}
.recipientDetails,
.recipientProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xx-sm);
}
.recipientDetails {
  justify-content: center;
  gap: var(--spacing-x-sm);
}
.balanceAvailable,
.balanceDetails {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.balanceDetails {
  text-align: center;
  display: inline-block;
  min-width: 79px;
  white-space: nowrap;
}
.availableBalance,
.transferRecipient {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-x-sm);
}
.transferRecipient {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-70xl) 0 0;
  font-size: var(--paragraph-medium-bold-size);
  color: var(--neutral-700);
}
.inputValue,
.starIcon2 {
  position: relative;
  overflow: hidden;
}
.inputValue {
  flex: 1;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 36px;
}
.starIcon2 {
  height: 16px;
  width: 16px;
  flex-shrink: 0;
  display: none;
}
.button5 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 24px;
}
.button4,
.xIcon2 {
  overflow: hidden;
  flex-shrink: 0;
}
.xIcon2 {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
}
.button4 {
  width: 40px;
  border-radius: var(--spacing-xxx-huge);
  background-color: var(--base-white);
  border: 1px solid var(--brand-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-6xs);
  gap: var(--space-200);
  font-size: var(--text-xs-light-size);
  color: var(--neutral-900);
}
.input,
.transferAmount {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input {
  border-radius: var(--radius-200);
  background-color: var(--base-white);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--spacing-x-sm);
  min-width: 240px;
  font-size: var(--paragraph-large-bold-size);
  color: var(--neutral-400);
}
.transferAmount {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
}
.starIcon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button7 {
  position: relative;
  font-size: var(--paragraph-medium-bold-size);
  line-height: 24px;
  display: inline-block;
  font-family: var(--paragraph-medium-bold);
  color: var(--border-disabled-default);
  text-align: left;
  min-width: 121px;
}
.xIcon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button6 {
  cursor: pointer;
  border: 1px solid var(--border-disabled-default);
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--border-default-default);
  align-self: stretch;
  border-radius: var(--radius-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-200);
}
.body,
.card,
.inputs,
.savingsOverview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.body {
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-x-big);
  min-width: 160px;
}
.card,
.inputs,
.savingsOverview {
  box-sizing: border-box;
}
.card {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: -93px;
  right: 0;
  left: 0;
  border-radius: var(--spacing-md);
  background-color: var(--base-white);
  border: 1px solid var(--border-default-default);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--space-600);
  min-width: 240px;
  z-index: 3;
  font-size: var(--heading-mobile-h4-semi-bold-size);
  color: var(--neutral-900);
}
.inputs,
.savingsOverview {
  max-width: 100%;
}
.inputs {
  flex: 1;
  border-radius: var(--spacing-md);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--neutral-200);
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-mini);
  position: relative;
  gap: var(--gap-xs);
}
.savingsOverview {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  text-align: left;
  font-size: var(--paragraph-large-bold-size);
  color: var(--neutral-700);
  font-family: var(--paragraph-medium-bold);
}
