.savingsContentParent,
.universitySavings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.savingsContentParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.universitySavings {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) var(--padding-base);
  box-sizing: border-box;
}
