@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* quicksand-latin-wght-normal */
@font-face {
  font-family: "Quicksand Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/quicksand:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fredoka-latin-wght-normal */
@font-face {
  font-family: "Fredoka Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fredoka:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  line-height: normal;
  font-family: var(--paragraph-small-bold);
}

:root {
  /* fonts */
  --text-xs-light: Kanit;
  --paragraph-small-bold: "Quicksand Variable";
  --heading-mobile-h6-semi-bold: "Fredoka Variable";
  --single-line-body-base: Inter;
  --font-abeezee: ABeeZee;

  /* font sizes */
  --text-xs-light-size: 12px;
  --paragraph-small-bold-size: 14px;
  --paragraph-medium-medium-size: 16px;
  --heading-mobile-h6-semi-bold-size: 18px;
  --heading-mobile-h5-semi-bold-size: 20px;
  --heading-mobile-h4-semi-bold-size: 24px;
  --display-desktop-small-semibold-size: 44px;
  --font-size-mid: 17px;
  --display-desktop-large-semi-bold-size: 52px;
  --heading-mobile-h3-semi-bold-size: 28px;
  --font-size-6xl: 25px;
  --font-size-3xs: 10px;

  /* Colors */
  --base-white: #fff;
  --color-gray-100: #fbfdfd;
  --text-neutral-tertiary: #767676;
  --text-default-secondary: #757575;
  --text-brand-default: #2c2c2c;
  --neutral-800: #262626;
  --text-default-default: #1e1e1e;
  --neutral-900: #171717;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-gainsboro-100: #e2e6eb;
  --border-default-default: #d9d9d9;
  --black-500: #000;
  --success-600: #16a34a;
  --brand-green-500: #00ae43;
  --brand-500: #8b5cf6;
  --success-50: #f0fdf4;
  --error-50: #fef2f2;
  --error-500: #ef4444;
  --error-600: #dc2626;
  --color-crimson-100: rgba(219, 33, 33, 0);
  --neutral-700: #404040;
  --text-neutral-default: #303030;
  --neutral-50: #f8fafc;
  --text-brand-on-brand: #f5f5f5;
  --color-whitesmoke-100: rgba(248, 250, 252, 0.5);
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --border-disabled-default: #b3b3b3;
  --border-neutral-tertiary: #b1b1b1;
  --neutral-400: #a3a3a3;
  --brand-600: #7c3aed;
  --neutral-500: #737373;
  --error-300: #fca5a5;
  --success-500: #22c55e;
  --success-300: #86efac;
  --brand-50: #f5f3ff;

  /* Spacing */
  --spacing-sm: 12px;
  --space-200: 8px;
  --space-300: 12px;
  --radius-200: 8px;
  --spacing-x-sm: 8px;
  --spacing-md: 16px;
  --spacing-xx-sm: 4px;
  --scale-06: 32px;
  --spacing-x-lg: 48px;
  --space-100: 4px;
  --radius-100: 4px;
  --spacing-x-big: 24px;
  --space-600: 24px;
  --padding-md: 12px;
  --scale-07: 40px;
  --space-400: 16px;
  --spacing-xxx-big: 32px;
  --icon-large: 40px;
  --radius-full: 9999px;
  --spacing-xxx-huge: 192px;
  --padding-sm: 8px;
  --space-negative-200: -8px;
  --icon-small: 24px;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-5xs-5: 7.5px;
  --gap-15xl: 34px;
  --gap-0: 0px;
  --gap-192xl: 211px;
  --gap-33xl: 52px;
  --gap-3xs-5: 9.5px;
  --gap-7xs: 6px;
  --gap-sm: 14px;
  --gap-24xl-3: 43.3px;
  --gap-33xl-2: 52.2px;
  --gap-smi: 13px;
  --gap-29xl-2: 48.2px;
  --gap-3xs-6: 9.6px;
  --gap-39xl: 58px;
  --gap-6xs: 7px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-134xl: 153px;
  --padding-base: 16px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-9xs: 4px;
  --padding-mid: 17px;
  --padding-6xl: 25px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-131xl: 150px;
  --padding-93xl: 112px;
  --padding-132xl: 151px;
  --padding-10xl: 29px;
  --padding-7xs-3: 5.3px;
  --padding-7xs-4: 5.4px;
  --padding-11xs: 2px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-19xl: 38px;
  --padding-21xl: 40px;
  --padding-12xs: 1px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
}

/* :root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
} */
